#about {
  height: auto;
  overflow: hidden;
  position: relative;
}

.code-wrp {
  font-family: Roboto Mono, Courier New, Courier, monospace !important;
  font-size: 16px;
  line-height: 1.6;
}
.code-l:after {
  color: #3b3553;
  content: attr(data-line-nr);
  font-family: Roboto Mono, Courier New, Courier, monospace !important;
  font-size: 16px;
  left: -38px;
  line-height: 1.6;
  position: absolute;
  top: 0;
  z-index: 3;
}

.code-l {
  position: relative;
  z-index: 1;
}

.section-title {
  color: #988e9f;
  font-size: 18px;
  font-weight: 300;
}

.section-title.alt {
  display: inline-block;
  margin-top: 30px;
  padding-left: 65px;
}

.timeline {
  background-color: #5918df;
  position: absolute;
  left: 90px;
  width: 1px;
  z-index: 9;
}

.timeline.alt {
  height: 5310%;
  top: 0;
}

.method {
  color: #5918df;
  display: inline;
}

.number {
  color: #e39d24;
}

.propname {
  color: #eeff31;
}

.dot {
  color: #3b3553;
  display: inline;
}

.scope {
  color: #e3244c;
}

.prop2 {
  color: #24e394;
}

.string {
  color: #24e33a;
}

.comment {
  color: #78707e;
  display: inline;
}

.space {
  width: 500px;
}

.cursor:before {
  animation-name: blink;
  animation-duration: 800ms;
  animation-iteration-count: infinite;
  content: "|";
  opacity: 0;
  color: white;
}
