<div id="about" class="min-h-screen">
  <div class="px-3 mx-6">
    <div class="timeline alt"></div>
    <small class="section-title alt">About/></small>
    <div class="mt-3 pl-16">
      <div class="code-wrp">
        <div data-line-nr="01" class="code-l">
          <div class="method">class</div>
          <span class="propname"> Nnamdi Echem</span> &#123;
        </div>
        <div data-line-nr="02" class="code-l">
          <div class="dot">..</div>
          <div class="comment">// This is a comment!</div>
        </div>
        <div data-line-nr="03" class="code-l">
          <div class="dot">..</div>
          <div class="comment">// Remember to add background-color later.</div>
        </div>
        <div data-line-nr="04" class="code-l">
          <div class="dot">..</div>
          <div class="method">constructor</div>
          &#40;&#41;
        </div>
        <div data-line-nr="05" class="code-l">
          <div class="dot">....</div>
          <span class="scope">this</span>
          <span>&#46;</span>
          <span class="prop2">name</span>
          <span class="scope"> = </span>
          <span class="string">'Nnamdi Echem'</span>&#59;
        </div>
        <div data-line-nr="06" class="code-l">
          <div class="dot">....</div>
          <span class="scope">this</span>
          <span>&#46;</span>
          <span class="prop2">dateOfBirth</span>
          <span class="scope"> = </span>
          <span class="number">02101987</span>&#59;
        </div>
        <div data-line-nr="07" class="code-l">
          <div class="dot">....</div>
          <span class="scope">this</span>
          <span>&#46;</span>
          <span class="prop2">email</span>
          <span class="scope"> = </span>
          <span class="string">'nnamdi.b@gmail.com'</span>&#59;
        </div>
        <div data-line-nr="08" class="code-l">
          <div class="dot">..</div>
          &#125;
        </div>
        <div data-line-nr="09" class="code-l">
          <div class="dot">..</div>
          <span class="propname">workExperience</span>&#40;&#41; &#123;
        </div>
        <div data-line-nr="10" class="code-l">
          <div class="dot">....</div>
          <span class="method">return</span> &#91;
        </div>
        <div data-line-nr="11" class="code-l">
          <div class="dot">......</div>
          &#123;
          <span class="string">'2023-now' </span>&#58;
          <span class="string">'Front-end Developer at Subtrackr'</span>
          &#125;&#59;
        </div>
        <div data-line-nr="12" class="code-l">
          <div class="dot">......</div>
          &#123;
          <span class="string">'2018-2018' </span>&#58;
          <span class="string">'Operations Consultant at ISS'</span> &#125;&#59;
        </div>
        <div data-line-nr="13" class="code-l">
          <div class="dot">......</div>
          &#123;
          <span class="string">'2016-2016' </span>&#58;
          <span class="string">'Interactions Designer at Nettmaker AS'</span>
          &#125;&#59;
        </div>
        <div data-line-nr="14" class="code-l">
          <div class="dot">......</div>
          &#123;
          <span class="string">'2010-2011' </span>&#58;
          <span class="string">'IT-support at Riverside Youth Club'</span>
          &#125;&#59;
        </div>
        <div data-line-nr="15" class="code-l">
          <div class="dot">....</div>
          &#93;
        </div>
        <div data-line-nr="16" class="code-l">
          <div class="dot">..</div>
          &#125;
        </div>
        <div data-line-nr="17" class="code-l">
          <div class="dot">..</div>
          <span class="propname">education</span>&#40;&#41; &#123;
        </div>
        <div data-line-nr="18" class="code-l">
          <div class="dot">....</div>
          <span class="method">return</span> &#91;
        </div>
        <div data-line-nr="19" class="code-l">
          <div class="dot">......</div>
          &#123;
          <span class="string">'2011-2041' </span>&#58;
          <span class="string"
            >'Bachelor's Degree in Information Technologo (IT) - Westerdals Oslo
            ACT'</span
          >
          &#125;&#59;
        </div>
        <div data-line-nr="20" class="code-l">
          <div class="dot">......</div>
          &#123;
          <span class="string">'2006-2007' </span>&#58;
          <span class="string">'General Subjects - Elvebakken VGS'</span>
          &#125;&#59;
        </div>
        <div data-line-nr="21" class="code-l">
          <div class="dot">......</div>
          &#123;
          <span class="string">'2005-2006 </span>&#58;
          <span class="string">'ICT Operations Subject - Sogn VGS'</span>
          &#125;&#59;
        </div>
        <div data-line-nr="22" class="code-l">
          <div class="dot">......</div>
          &#123;
          <span class="string">'2004-2005' </span>&#58;
          <span class="string"
            >'General, Economic and Administrative Subjects'</span
          >
          &#125;&#59;
        </div>
        <div data-line-nr="23" class="code-l">
          <div class="dot">....</div>
          &#93;
        </div>
        <div data-line-nr="24" class="code-l">
          <div class="dot">..</div>
          &#125;
        </div>
        <div data-line-nr="25" class="code-l">
          <div class="dot">..</div>
          <span class="propname">skills</span>&#40;&#41; &#123;
        </div>
        <div data-line-nr="26" class="code-l">
          <div class="dot">....</div>
          <span class="method">return</span> &#91;
          <span class="string"
            >'HTML/CSS/JS', 'React', 'NextJS', 'Angular', 'TypeScript',
            'Bootstrap/Tailwind/Mui', 'npm', 'SSR', 'SPA', 'GIT', 'Firebase',
            'W3C/ARIA', 'MySQL/MongoDB', 'Wordpress', 'Photoshop', 'After
            Effects', 'UX/UI', 'C#'
          </span>
          <span class="cursor"></span>
          &#93;&#59;
        </div>
        <div data-line-nr="27" class="code-l">
          <div class="dot">..</div>
          &#125;
        </div>
        <div data-line-nr="28" class="code-l">&#125;</div>
        <div data-line-nr="29" class="code-l"></div>
        <div data-line-nr="30" class="code-l"></div>
        <div data-line-nr="31" class="code-l"></div>
        <div data-line-nr="32" class="code-l"></div>
        <div data-line-nr="33" class="code-l"></div>
        <div data-line-nr="34" class="code-l"></div>
        <div data-line-nr="35" class="code-l"></div>
      </div>
    </div>
  </div>
</div>
